/* Additional custom styles can be added here if needed */
.active-link {
  background-color: #f3f4f6;
  color: #1f2937;
}

/* Smooth transitions for hover effects */
a {
  transition: all 0.3s ease;
}


.logo {
  display: inline-block;
  background-color: #ffd95a;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 17px;
  font-weight: bold;
  color: #333; /* Dark text color */
  position: relative;
}

.logo-text {
  margin-left: 30px;
}
nav {
  transition: background-color 0.3s ease;
}

.mobile-menu {
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
